

<div class="container">
  <div class="answer-style padding">
    <h2><%= params[:query] %></h2>
    <p>- You</p>
  </div>

  <div class="answer-style">
    <h2><%= @answer %></h2>
    <p>- Your coach</p>
  </div>

  <%= link_to "back", "/" %>

</div>
