
<div class="container padding">
  <form calss="asking-form" action="/answer">
    <label for="question"><h2>What is your question</h2></label>
    <input type="text" id="question" name="query" placeholder="What time is it?">
    <input type="submit" value="Ask">
  </form>
</div>
